<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hw.tbsreviewlibrary" >

<application
android:allowBackup="true"
android:label="@string/app_name"
android:supportsRtl="true">

<activity android:name=".FileDisplayActivity"
    android:screenOrientation="portrait"
    />
    <activity

        android:name="com.tencent.smtt.sdk.VideoActivity"

        android:theme="@style/videoTheme"

        android:configChanges="orientation|screenSize|keyboardHidden"

        android:exported="false"

        android:launchMode="singleTask"

        android:alwaysRetainTaskState="true">

        <intent-filter>

            <action android:name="com.tencent.smtt.tbs.video.PLAY" />

            <category android:name="android.intent.category.DEFAULT" />

        </intent-filter>

    </activity>
</application>

</manifest>